<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="EN" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/xml; charset=utf-8" />
    <title>divSpan.html</title>
    <link rel = "stylesheet"
			type = "text/css"
			href = "test1.css"/>
  </head>
  
  <body>
    	<form action="" method="POST">
	   <div id = "register">	  
		<label> Full Name</label>
		<input type="text" name="name" id="txtName" />
		<label>User name</label>
		<input type="text" name="userName" id="txtUserName" />
		<label>Password</label>
		<input type="password" name="password" id="txtPassword" />
		<input type="submit" name="submit1" id="b3" value="Send"/> 			  				
	   </div>
	</form>
  </body>
</html>
	