<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="EN" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/xml; charset=utf-8" />
    <title>divSpan.html</title>
    <link rel = "stylesheet"
			type = "text/css"
			href = "test1.css"/>
  </head>
  
  <body>
    
	<fieldset id = "header">
	  <form action="/mySites" method="GET">  
		<input type = "submit" name="mySites" id="b4" value="My Sites"/>
         </form>
	  <form action="/edit" method="GET">
		<input type = "submit" name="edit" id="b2" value="Edit Sites"/>
         </form>
	  <form action="/customize" method="POST">
		<input type = "submit" name="customize" id="b3" value="Customize Sites"/>
         </form>
	   <form action="aboutUs.html">
		<input type = "submit" name="about" id = "b1" value="About Us"/> 		
	  </form>
	  <form action="/help" method="POST">
		<input type = "submit" name="help" id="b5" value="Help"/>
         </form>
	</fieldset>
	<fieldset id="body">
		<img src="Guitar.jpg" height="80" width="80"/>	
		<h3 id="welcome">Welcome to My Favorite Pages!</h3>	
	</fieldset>
	
  </body>
</html>
	